*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0
}

@media screen and (min-width: 650px) {
    body {
        margin: 0.5rem
    }
}

.main {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.work-space {
    display: flex;
    flex-direction: column;
}

.page-cover {
    min-width: 100%;
    min-height: 100vh;
    position: absolute;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.384);
}

@media screen and (min-width: 650px) {
    .page-cover {
        display: none;
    }
}

button {
    margin: 1rem auto;
    font-size: 100%;
    font-weight: 500;
    background-color: rgb(89, 131, 248);
    border: none;
    border-radius: 0.5rem;
    min-height: 2rem;
    color: white;
    min-width: 5rem
}

button:hover {
    cursor: pointer;
    background-color: rgb(122, 154, 243);
}

/*Tooltip*/

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
/*-------------------------------------------------------*/
.work-space > button {
    width: 20%;
    
}


aside {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    overflow: scroll;
    width: 50%;
    background-color: #fff;
    transition: 0.5s ease-in-out;
    box-shadow: 1px 1px 1px 5px rgba(0,0,0, 0.35);
}


.bars {
    position: absolute;
    right: 1rem;
    
}

/* class toggleable by js*/
.word-to-redact {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0.2rem auto;
    background-color: rgb(89, 131, 248);
    padding: 0.2rem;
    border-radius: 0.2rem;
    color: white;
    font-size: 1.2rem;

    
}
 
@media screen and (min-width: 650px){
    .bars {
        display: none;
    }
}
/*-------------- Class toggleable by javascript --------------*/
.hide-toolbar {
    width: 0%;
        
}

.hide-toolbar-elements {
    display: none;
}

/*--------------------------------*/


aside > .words-to-redact> .add-button {
    border-radius: 50%;
    font-size: 250%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-button:hover {
    cursor: pointer
}

aside > .hide-btn {
    position: sticky;
    top: 0;   
    width: 2rem;
    height: 2rem;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    box-shadow: 1px 1px 0px 1px rgba(0,0,0, 0.3);
}

aside > .hide-btn:hover {
    cursor: pointer;
}

.redact-characters-container {
    display: flex;
    flex-direction: column;
}


@media screen and (min-width: 650px) {
    .main {
        display: grid;
        grid-template-columns: 20% 60%;
        width: 100%;
        gap: 10px;
    }

    aside {
        position: inherit;
        width: 100%;
        box-shadow: unset;
        border-right: 1px solid blue;
    }

    aside > .hide-btn {
        display: none
    }

    
}